* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.all {
    background: linear-gradient(rgba(0, 0, 0, 0.925), rgb(21, 141, 83), rgba(0, 0, 0, 0.925));
    padding: 10px 100px;
    color: white;
    margin-top: 100px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: space-between;
    align-items: center;
}

.footer h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-col-one,
.footer-col-two,
.footer-col-three,
.footer-col-four {
    flex: 1;
    /* Each column takes up equal space */
    margin: 10px;
    padding: 10px;
    font-size: 13px;
    text-align: left;
    /* Align text to the left */
}

.footer-col-one h1 {
    padding-bottom: 40px;
}

.footer-col-two h4 {
    margin-top: -110px;
}

.footer-col-three h4 {
    margin-top: -60px;
}

.footer-col-four h4 {
    margin-top: 40px;
}

.email-button input {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}

.email-button input[type="button"] {
    background-color: orange;
    margin-left: -10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.email-button {
    display: flex;
}

.platforms {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.plat-icons img {
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
}

.contact {
    font-size: 13px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.contact p {
    padding: 5px 0;
}

.contact span {
    margin-left: 10px;

}

.contact img {
    width: 30px;
    background-color: white;
    border-radius: 5px;
    height: 25px;
}

.footer-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    margin-top: 20px;
    width: 100%;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }

    .footer-end {
        font-size: 10px;
        height: 50px;
    }
}